doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title wysiwyg
    link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/custom.css", rel="stylesheet")
  body
    block content

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="js/jquery-1.11.1.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/wysiwyg-bs.js")
